@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swp");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

.bg_img {
  height: 100vh;
  width: 100vw;
  background: url(../../../public/assets/login_bg_img.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
  position: relative;
}

.outer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}
.inner {
  display: flex;
  background-color: #ffffff;
  border-radius: 12px;
  height: 90vh;
  width: 80vw;
}

.inner .login_img {
  height: 90vh;
  width: 40vw;
  background-image: url(../../../public/assets/login_bg_img.png);
  background-repeat: no-repeat;
  border-radius: 10px;
  background-size: cover;
  background-position: left top;
  object-fit: cover;
}

.btn-tag {
  height: 35px;
  width: 95%;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.inner .login_info {
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner .login_info form {
  width: 80%;
}
.inner .login_info .hd_name {
  font-family: Pacifico;
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
}
.inner .login_info .hd_name span {
  color: #ffbd00;
}

.log_info_details .get_srted {
  font-size: 1.2rem;
  font-family: Palanquin;
}

.google {
  background-color: #fff;
  border: 1px solid #000;
}
.fb {
  background-color: #1877f2;
  border: 1px solid #000;
  color: #fff;
}

.log_info_details input {
  height: 20px;
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000;
}
.log_details * {
  margin: 5px 0;
}
.log_details label {
  font-size: 1rem;
  font-family: Palanquin;
}
.show_pass {
  display: flex;
  align-items: center;
}

.show_pass label {
  width: 100%;
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

.show_pass label:hover {
  color: #f56b1e;
}

.submit {
  text-align: center;
}
.submit input {
  height: 6vh;
  width: 50%;
  border-radius: 5px;
  padding: 0;

  background: #ffffff;
  cursor: pointer;
  font-size: 1.5rem;
  color: #ff6b00;
  border: 1px solid #ff6b00;
}
.submit input:hover {
  background: #ff6b00;
  color: #ffffff;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}
.have_an_acc p {
  font-family: Palanquin;
  font-size: 0.8rem;
  text-align: center;
}
.have_an_acc p a {
  color: #ff6b00;
}
@media only screen and (max-width: 600px) {
  /* Styles for phones */
  .inner .login_img {
    display: none;
  }
  .bg_img {
    background-position: center;
  }
  .inner {
    height: 70vh;
    width: 90vw;
    justify-content: center;
    align-items: center;
  }
  .inner .login_info {
    width: 90vw;
  }
  .inner .login_info .hd_name {
    font-size: 1.7rem;
  }
  .log_info_details .get_srted {
    font-size: 1rem;
  }
  .submit input {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .inner {
    height: 80vh;
    width: 100vw;
  }
}

/* Add styles for tablets (portrait and landscape) */
@media only screen and (min-width: 601px) and (max-width: 1600px) {
  .inner {
    height: 90vh;
    width: 70vw;
  }
}
